.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.left-section h2 {
  font-size: 3rem;
  line-height: 1.1;
}

.left-section p {
  width: 70%;
  color: gainsboro;
}

/* Button */
#btn {
  margin-top: 20px;
  background-color: #ef4444;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  border: 3px solid tomato;
  font-size: 18px;
  font-weight: bold;
  color: white;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

#btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: 0.5s;
  z-index: -1;
}

#btn:hover::before {
  width: 100%;
}

#btn:hover {
  color: black;
  transform: scale(0.95);
}

/* Profile Image Animation */
.profile-img {
  position: relative;
}

.myimg {
  padding: 35px;
  border-radius: 10px;
  animation: zoom 5s ease-in-out infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(0.9);
    filter: grayscale(0.8);
  }
  50% {
    transform: scale(1);
    box-shadow: 0px 0px 25px black;
    filter: grayscale(0);
  }
  100% {
    transform: scale(0.9);
    filter: grayscale(0.8);
  }
}

/* Icons Animation */
.icon {
  position: absolute;
}

.zigzag {
  position: absolute;
  left: 0%;
  animation-name: zigzag;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes zigzag {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
}

.plus {
  position: absolute;
  left: 45%;
  animation-name: plus;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes plus {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}
.cube {
  position: absolute;
  right: 5%;
  animation-name: cube;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes cube {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  100% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(20px);
  }
}

.circle {
  position: absolute;
  bottom: 10%;
  left: 5%;
  animation-name: circle;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes circle {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}

.dots {
  position: absolute;
  bottom: 5%;
  right: 5%;
  animation-name: dots;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes dots {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}